<p id="notice"><%= notice %></p>

<p>
  <strong>User fname:</strong>
  <%= @user.user_fname %>
</p>

<p>
  <strong>User lname:</strong>
  <%= @user.user_lname %>
</p>

<p>
  <strong>Is admin:</strong>
  <%= @user.is_admin %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
